<ion-view title="Warnings">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header padding">
    <h2>Warnings</h2>
    <form>
      <label>Warning if balance is &lt; &dollar;{{warningThreshold}}</label>
      <div class="range">
        &dollar;
        <input type="range" step="5" min="0" max="1000" ng-model="warningThreshold">
        &dollar;1000
      </div>
      <div class="list">
          <li class="item item-toggle" ng-repeat="acc in accountSettings">
            {{acc.name}}
            <label class="toggle toggle-positive">
                <input ng-model="acc.warn" ng-change="save()" type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
         </li>
      </div>
    </form>
  </ion-content>
</ion-view>
