<ion-view title="Settings">
  <ion-content class="has-header" scroll="true" overflow-scroll="true">
    <ul class="list">
      <li><a class="item" href="#/tab/settings/notifications">Notifications <i class="item-note icon ion-chevron-right"></i></a></li>
      <li><a class="item" href="#/tab/settings/autorefresh">Auto update <i class="item-note icon ion-chevron-right"></i></a></li>
      <li><a class="item" href="#/tab/settings/warnings">Warnings <i class="item-note icon ion-chevron-right"></i></a></li>
      <!--li><a class="item" href="#/tab/settings/datatransfer">Datenübertragung <i class="item-note icon ion-chevron-right"></i></a></li-->
    </ul>
  </ion-content>
</ion-view>
