<ion-view title="Pay">
  <ion-content class="has-header padding" scroll="true" overflow-scroll="true">
    <h2>Pay</h2>
    <div class="button-bar">
      <button class="button button-calm">Enter details</button>
      <button class="button button-positive">Scan QR code</button>
    </div>

    <h2>Receive</h2>
    <div class="button-bar">
      <button class="button button-calm">Show your details</button>
      <button class="button button-positive">Show QR code</button>
    </div>
  </ion-content>
</ion-view>
