<ion-tabs class="tabs-icon-top tabs-striped tabs-dark">

  <ion-tab title="Overview" icon="icon ion-speedometer" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Accounts" icon="icon ion-card" href="#/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pay" icon="icon ion-cash" href="#/tab/pay">
    <ion-nav-view name="tab-pay"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
